<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap-1.1.0.min.css">
</head>
<body>
  <div class="topbar"> 
    <div class="fill"> 
      <div class="container"> 
        <h3><a href="#">ActivePress</a></h3> 
        <ul> 
          <li class="active"><a href="#about">About</a></li> 
          <li><a href="#usage">Usage</a></li> 
        </ul> 
      </div> 
    </div> 
  </div>
  <br />
  <br />
  <br />
  
  <div class="container">
    <section id="about">
      <div class="page-header">
        <h1>About ActivePress <small>Why was it created</small></h1>
      </div>
    </section>
    <section id="usage">
      <div class="page-header">
        <h1>Usage <small>How to use activepress</small></h1>
      </div>
    </section>
  </div>
</body>
</html>